// Body
$body-bg: #fff; //#F5F8FA;

// Colors
$primary: #5900ff;

// Typography
$font-family-serif: georgia,'Times New Roman', serif;
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$card-border-radius: 0;
