// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    font: 100% $font-family-serif;
}

.article {
    border-right: none;
    border-left: none;
}

.mytabbar {
    color: $gray-700;
}

#carouselWithCaptions .carousel-item img {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    height: 40vh;
}

.carousel-item img {
    filter: brightness(50%);
}